<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - ЭАК</title>
    @Styles.Render("~/Content/css")

</head>
<body class="-text">
    <div class="wrapper">
        @RenderBody()       
    </div>

    @Scripts.Render("~/bundles/js")
</body>
</html>