

@{
    ViewBag.Title = "Главная ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- top navbar-->

<!-- Main section-->
<section class="section-container">
    <!-- Page content-->

    <div class="content-wrapper" id="mainContent">
        <div class="content-heading">
            <div>
                Кабинет
                <small>личный кабинет</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <p>index</p>
            </div>
        </div>
    </div>
</section>
<!-- Page footer-->
