

@{
    ViewBag.Title = "Посетители";
    Layout = null;
}

        <div class="content-heading">
            <div>
                Посетители
                <small>список посетителей</small>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <p>visitors</p>
            </div>
        </div>


